extends layout

block content
    h1= title

    ul
        - item_list.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        each item in item_list
            li
                a(href=item.url) #{item.name}
                |   - $#{item.price} - 
                - for (let i = 0; i < item.category.length; i++)
                    a(href=item.category[i].url) #{item.category[i].name}
                    |    - 
        else
            li There are no items.
